/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




/* ここから */


body {
  transform: translateX(0);
  transition: transform .5s;
}

body.show {
  transform: translateX(-100%);
  overflow: hidden;
}

h1 {
  color: red;
}

header::before {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background-color: darkblue;
  border-bottom: 1px solid red;
}

header #headerContent {
  display: block;
  width: 100%;
  height: 54.7px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

header #headerContent p {
  padding-top: 10px;
  text-align: center;
  line-height: 54.7px;
}

header #headerContent p img {
  width: 159px;
  height: 37.5px;
}

header #headerContent #menu-open {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
}

header #headerContent #menu-open img {
  width: 30px;
  height: 21.5px;
}

header #mobile-menu {
  /* position: absolute; */
  position: fixed;
  top: 16px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.9;
  pointer-events: auto;
  transform: translateX(100%);
  overflow: hidden;
  transition: transform .5s;
  width: 100%;
  z-index: 20;
}

header #mobile-menu.show {
  pointer-events: auto;
  background-color: #fff;
  transform: translateX(100%);
}

header #mobile-menu .menu-top {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(229, 244, 250);
}

header #mobile-menu .menu-top h2 {
  font-size: 20px;
  font-weight: 300;
}

header #mobile-menu #menu-close {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 0 0px;
  background-color: transparent;
  cursor: pointer;
}

header #mobile-menu #menu-close .line1 {
  display: block;
  margin-top: 15px;
  width: 30px;
  height: 1px;
  background-color: black;
  transform: rotate(45deg);
}

header #mobile-menu #menu-close .line2 {
  display: block;
  margin-top: 0px;
  width: 30px;
  height: 1px;
  background-color: black;
  transform: rotate(-45deg);
}

header #mobile-menu #menu-choose {
  display: block;
  height: 71px;
  width: 100%;
  background-color: rgb(244, 247, 247);
  position: relative;
}

header #mobile-menu #menu-choose #headerSearchText {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 14px;
  padding: 5px 10px;
  height: 26px;
  width: 92%;
  font-size: 14px;
  border: 1px solid rgb(189, 185, 185);
  border-radius: 3px;
  background-color: #fff;
}

header #mobile-menu #menu-choose #search {
  position: absolute;
  top: 25px;
  right: 25px;
}

header #mobile-menu #menu-choose ul li {
  display: none;
}

header #mobile-menu #menu-items ul li {
  list-style: none;
  position: relative;
}

header #mobile-menu #menu-items ul li a {
  width: 100%;
  color: #245dc1;
  border: 1px solid rgb(213, 211, 211);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

header #mobile-menu #menu-items ul li a p {
  height: 44px;
  line-height: 44px;
  font-weight: 200;
}

header #mobile-menu #menu-items ul li a i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #999;
}

header #pc-menu {
  display: none;
}

header #help {
  display: none;
}


header #main-menu {
  height: 45px;
  width: 100%;
  background-color: rgb(4, 4, 86);
}

header #main-menu .items {
  list-style: none;
  width: 100%;
  display: flex;
}

header #main-menu .item {
  padding: 5px;
  display: block;
  width: 33%;
  height: 45px;
  color: #fff;
  border: 1px solid white;
  position: relative;
}

header #main-menu .item a {
  display: block;
  align-items: center;
  text-decoration: none;
  padding: 7px 10px;
  font-size: 12px;
  color: #fff;
}

header #main-menu .item .else {
  display: none;
}

header #main-menu .item a .fas {
  font-size: 16px;
  position: absolute;
  top: 15px;
  right: 10px;
}

header #main-menu .item a .down1.on {
  display: block;
} 
header #main-menu .item a .down1{
  display: none;
} 
header #main-menu .item a .up1 {
  display: none;
} 
header #main-menu .item a .up1.on {
  display: block;
} 


header #main-menu .item a .down2.on {
  display: block;
} 
header #main-menu .item a .down2 {
  display: none;
} 
header #main-menu .item a .up2 {
  display: none;
} 
header #main-menu .item a .up2.on {
  display: block;
} 

header #main-menu .item a .down3.on {
  display: block;
} 
header #main-menu .item a .down3 {
  display: none;
} 
header #main-menu .item a .up3 {
  display: none;
} 
header #main-menu .item a .up3.on {
  display: block;
} 

header #main-menu .menu-content {
  position: fixed;
  top: 124px;
  bottom: 2900px;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
  z-index: 20;
}

header #main-menu .menu-content.show {
  pointer-events: auto;
  opacity: 1;
  background-color: #fff;
}


header #main-menu .menu-content h3 {
  display: none;
}

header #main-menu .menu-content ul a:hover {
  text-decoration: none;
}

header #main-menu .menu-content ul li {
  list-style: none;
  padding-left: 30px;
  line-height: 45px;
  width: 100%;
  height: 45px;
  border: 1px solid #ddd;
  position: relative;
}

header #main-menu .menu-content ul li .fas {
  position: absolute;
  top: 20px;
  right: 50px;
  color: #999;
}


header #main-menu .menu-content .top {
  padding-left: 30px;
  line-height: 45px;
  width: 100%;
  height: 45px;
  border: 1px solid #ddd;
  position: relative;
}

header #main-menu .menu-content .top a:hover {
  text-decoration: none;
}

header #main-menu .menu-content .top img {
  position: absolute;
  top: 20px;
  right: 50px;
  color: #999;
  display: inline-block;
  width: 20px;
}


.main-pic {
  width: 100%;
  height: auto;
  position: relative;
}

.main-pic .swiper-container {
  width: min(1250px, 100%);
  height: auto;
  margin: 0 auto;
  display: flex;
}

.main-pic .swiper-wrapper {
  background-color: #fff;
}

.main-pic .swiper-slide {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #fff;
}
  
.main-pic .swiper-slide .sp {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-pic .swiper-slide .pc {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-pic .swiper-button-prev, .swiper-button-next {
  width: 26px;
  height: 26px;
  font-size: 12px;
  color: #fff;
  background-color: #ccc;
  border-radius: 13px;
}

.main-pic .swiper-button-prev {
  position: absolute;
  left: 0px;
}

.main-pic .swiper-button-prev::after {
  display: none;
} 

.main-pic .swiper-button-next {
  position: absolute;
  right: 0px;
}

.main-pic .swiper-button-next::after {
  display: none;
} 

.sec1 {
  width: 100%;
  height: 250px;
}

.sec1 span {
  display: none;
}

.sec1 h2 {
  display: block;
  width: 100%;
  height: 36px;
  font-size: 12px;
  font-weight: 100;
  line-height: 36px;
  text-align: center;
  color: #fff;
  background-color: #E17D7D;
}

.sec1 li {
  margin: 10px 10px 20px;
}

.sec1 li dt span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.sec1 li dd a {
  display: block;
  height: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #245dc1;
  font-size: 14px;
}

.sec1 li dd a:hover {
  text-decoration: none;
}

.sec2 {
  width: 100%;
  background-color: #fff;
}

.sec2 ul {
  display: flex;
  flex-wrap: wrap;
}

.sec2 ul li {
  width: calc((100% - 0px) / 2); 
  height: 130px;
  list-style: none;
  margin-bottom: 15px;
}

.sec2 ul li a {
  display: block;
  margin: 0px 14px 10px 12px;
  text-decoration: none;
}

.sec2 ul li div {
  padding: 15px 0;
  border: 1px solid #bbb;
  text-align: center;
}

.sec2 ul li div img {
  width: 117px;
}

.sec3 {
  width: 100%;
  background-color: #fff;
}

.sec3 ul {
  width: 94%;
  margin: 30px 14px 30px 12px;
}

.sec3 ul li {
  list-style: none;
}

.sec3 ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  padding-left: 40px;
  width: 95%;
  height: 70px;
  line-height: 70px;
  text-align: left;
  border: 1px solid #bbb;
  background-color: #F7F8F8;
}


.sec4 {
  width: 100%;
  height: auto;
  padding-bottom: 22px;
  background-color: #fff;
}

.sec4 dl {
  width: 96%;
  margin: 20px 14px 20px 12px;
  /* margin-bottom: 42px; */
}

.sec4 dl dt {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  margin-bottom: 4px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 30%);
}

.sec4 dl .current {
  display: block;
  padding: 16px 32px 12px 20px;
  font-size: 18px;
  color: #333333;
  text-decoration: none;
}

.sec4 dl .tab .current:hover {
  cursor: pointer;
}

.sec4 dl .tab .content {
  display: none;
}

.sec4 dl .tab .con1.appear {
  display: block;
}

.sec4 dl .tab .con2.appear {
  display: block;
}

.sec4 dl .tab .con3.appear {
  display: block;
}


/* 要修正↓ */

.sec4 dl .tab .content {
  padding-top: 30px;
  background-color: #fff;
  display: none;
} 

.sec4 dl .tab .content.on {
  display: block;
}

.sec4 dl .tab .con1.on {
  display: block;
}
/* .sec4 dl .tab .con1.appear {
  display: block;
} */

.sec4 dl .tab .con2.on {
  display: block;
}
/* .sec4 dl .tab .con2.appear {
  display: block;
} */

.sec4 dl .tab .con3.on {
  display: block;
}
/* .sec4 dl .tab .con3.appear {
  display: block;
} */

/* 要修正↑ */


.sec4 dl .tab dd ul {
  list-style: none;
}

.sec4 dl .tab dd ul li { 
  padding: 0 0 10px 10px;
}

.sec4 dl .tab dd .block1 {
  margin-left: 0px;
}

.sec4 dl .tab dd .block1 .date {
  font-size: 14px;
}

.sec4 dl .tab dd .block1 .info {
  display: inline-block;
  margin-left: 10px;
  width: 60px;
  height: 18px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  background-color: #E17D7D;
}

.sec4 dl .tab dd .block1 .event {
  display: inline-block;
  margin-left: 10px;
  width: 60px;
  height: 18px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  background-color: #7683D2;
}

.sec4 dl .tab dd .block2 {
  margin: 6px 0 16px 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: normal;
  color: #245dc1;
}

.sec4 dl .tab dd .linkBa {
  font-size: 15px;
  text-align: end;
}

.sec4 dl .tab dd .linkBa a::before {
  content: "@";
}



.sec5 {
  width: 100%;
  height: auto;
  /* padding: 10px; */
  background-color: #F0EDE5;
}

.sec5 ul {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.sec5 ul li div::before {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: darkblue;
}

.sec5 ul li {
  display: block;
  margin-bottom: 15px;
  margin-left: 12px;
  margin-right: 10px;
  list-style: none;
  width: calc(46%); 
  height: auto;
  background-color: #7683D2;
}

.sec5 ul li a {
  text-decoration: none;
}

.sec5 ul li a div {
  width: 100%;
  height: auto;
  border-top: 2px solid darkblue;
  border: 1px solid #bbb;
  text-align: start;
  background-color: #fff;
}

.sec5 ul li div > img {
  width: 100%;
}

.sec5 ul li div span {
  display: block;
  color: #000;
  padding: 0px 15px;
  line-height: 30px;
  font-size: 10px;
}

.sec5 ul li div span:hover {
  text-decoration: underline;
  color: darkblue;
}

.sec5 ul li:nth-child(9) {
  opacity: 0;
}



.sec6 {
  height: auto;
}

.sec6 .container1 {
  width: 96%;
  height: auto;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.sec6 .inner h3 {
  margin-top: 6px;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  line-height: 40px;
  height: 40px;
}

.sec6 .inner p {
  font-size: 12px;
  color: #333333;
  font-weight: 400;
  line-height: 19px;
}

.sec6 .inner::after {
  content: '';
  display: block;
  width: 100%;
  height: 14px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

.sec6 .inner:last-child::after {
  opacity: 0;
}

.sec6 .inner img {
  color: rgb(172, 130, 91);
}

.sec6 .raiin {
  height: 55px;
  width: 96%;
  margin: 10px auto;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 55px;
}

.sec6 .raiin:hover {
  cursor: pointer;
  opacity: .7;
}

.sec6 .yoyaku {
  background-color: #031763;
  position: relative;
}

.sec6 .a1 {
  position: absolute;
  top: 18px;
  left: 20px;
  background-color: transparent;
}

.sec6 .henkou {
  background-color: #031763;
  position: relative;
}

.sec6 .a2 {
  position: absolute;
  top: 18px;
  left: 20px;
  background-color: transparent;
}

.sec6 .map img {
  display: none;
}

.sec6 .access {
  font-weight: 700;
  background-color: #333333;
  position: relative;
}

.sec6 .a3 {
  position: absolute;
  top: 18px;
  left: 20px;
  background-color: transparent;
}

.sec6 .floor {
  font-weight: 700;
  background-color: #ff9f1a;
  position: relative;
}

.sec6 .a4 {
  position: absolute;
  top: 18px;
  left: 20px;
  background-color: transparent;
}

.sec6 .shisetsu {
  font-weight: 700;
  background-color: #ff9f1a;
  position: relative;
}

.sec6 .a5 {
  position: absolute;
  top: 18px;
  left: 20px;
  background-color: transparent;
}

.sec6 {
  padding-bottom: 5px;
}



.sec7 {
  padding-top: 25px;
  width: 100%;
  height: 145px;
  background-color: #F0EDE5;
}

.sec7 .container {
  height: 80px;
  width: 100%;
  padding-top: 15px;
  background-color: #fff;
  position: relative;
}

.sec7 .container .swiper-container {
  display: block;
  width: 197px;
  margin:  8px auto;
  /* height: 57px; */
  overflow: hidden;
}

.sec7 .swiper-button-prev, .swiper-button-next {
  width: 26px;
  height: 26px;
  font-size: 12px;
  color: #fff;
  background-color: #ccc;
  border-radius: 13px;
}

.sec7 .swiper-button-prev {
  position: absolute;
  left: 20px;
}

.sec7 .swiper-button-prev img {
  display: block;
  width: 50px;
} 
.sec7 .swiper-button-prev::after {
  display: none;
} 

.sec7 .swiper-button-next {
  position: absolute;
  right: 20px;
}

.sec7 .swiper-button-next img {
  display: block;
  width: 50px;
} 

.sec7 .swiper-button-next::after {
  display: none;
} 

footer {
  width: 100%;
  height: 65px;
  background-color:#000055;
  padding-top: 18px;
}

footer .container {
  display: flex;
}

footer .container > div {
  border-right: 1px solid #fff;
}

footer .container > div a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin: 11px;
}

footer .container > div a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer .copy {
  margin-top: 20px;
  /* margin-left: auto; */
  text-align: end;
  padding-right: 10px;
}

footer .copy span {
  font-size: 12px;
  color: #fff;
}



@media screen and (min-width: 721px) {
  h1 {
    color: yellow;
  }

  header #headerContent {
    display: block;
    width: 100%;
    height: 105px;
    background-color: #fff;
    position: relative;
  }

  header #headerContent > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  header #headerContent p img {
    /* margin-top: 25px; */
    width: 200px;
    height: auto;
  }


  header #headerContent #menu-open {
    /* position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer; */
    display: none;
  }

  /*   
  header #headerContent #menu-open img {
    width: 30px;
    height: 21.5px;
  } */
  
  header #mobile-menu {
    /* position: static; */

    /* transform: translateX(0);
    background-color: transparent;
    pointer-events: auto; */

    /* transform: translateX(100%);
    position: fixed;
    top: 16px;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.9;
    pointer-events: none;
    overflow: hidden;
    transition: transform .5s;
    width: 100%;
    z-index: 20; */
    display: none;
  }

  header #headerContent #pc-menu {
    display: block;
  }

  header #pc-menu #pc-items {
    margin-left: 5px;
    display: flex;
  }
  
  header #pc-menu #pc-items .item1, .item2 {
    display: flex;
  }

  header #pc-menu #pc-items li {
    margin-top: 15px;
    display: block;
    width: auto;
    height: 11px;
    line-height: 1;
    list-style: none;
    padding-left: 0px;
    /* border-right: 1px solid #ccc; */
  }
  
  
  header #pc-menu #pc-items .item2 {
    position: absolute;
    top: 0;
    right: 2px;
  }
  
  
  header #pc-menu #pc-items li a {
    /* margin-top: 15px; */
    display: block;
    width: auto;
    height: 10px;
    padding: 0 5px;
    color: #555;
    text-align: center;
    /* border: 1px solid #ccc; */
    border-right: 1px solid #ccc;
  }
  
  header #pc-menu #pc-items li a p {
    padding-top: 0;
    line-height: 1;
    font-size: 11px;
    font-weight: 200;
  }

  
  header #pc-menu #pc-choose {
    display: block;
    height: 71px;
    width: 100%;
    background-color: transparent;
    position: relative;
  }
  
  header #pc-menu #pc-choose #pc-SearchText {
    position: absolute;
    top: 20px;
    left: 10px;
    margin: 2px;
    padding: 5px;
    height: 30px;
    width: 230px;
    font-size: 14px;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 3px;
    background-color: #fff;
  }
  
  header #pc-menu #pc-choose #pc-search {
    position: absolute;
    top: 37px;
    left: 225px;
  }
  
  header #pc-menu #pc-choose ul li {
    display: none;
  }
  
  
  header #help {
    display: flex;
    position: absolute;
    top: 50px;
    right: 10px;
  }

  header #help div {
    display: flex;
    font-size: 11px;
  }
  
  header #help .help1 {
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 11px;
    padding: 2px 5px;
    width: 45px;
    height: 40px;
    line-height: 1.4;
    box-sizing: border-box;
    border: 1px solid transparent;
  }
  
  header #help .big {
    margin-right: 4px;
    display: inline-block;
    font-size: 13px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #999;
  }

  header #help .big:hover {
    text-decoration: underline;
  }
  
  header #help .normal {
    margin: 0 4px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  header #help .normal:hover {
    text-decoration: underline;
  }
  
  header #help .help2 {
    margin-left: 2px;
    font-size: 11px;
    width: 48px;
    height: 40px;
    line-height: 38px;
    box-sizing: border-box;
    border: 1px solid transparent;
  }
  
  header #help .black {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    width: 38px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  header #help .black:hover {
    text-decoration: underline;
  }


  header #main-menu {
    height: 52px;
    width: 100%;
    background-color: rgb(4, 4, 86);
    /* position: relative; */
  }
  
  header #main-menu .items {
    list-style: none;
    width: 100%;
    height: 52px;
    display: flex;
  }
  
  header #main-menu .item {
    margin-top: 0px;
    padding: 0px;
    display: block;
    width: 33%;
    height: 52px;
    color: #fff;
    border: 1px solid transparent;
    border-right: 1px solid rgb(115, 115, 117);
  }
  
  header #main-menu .item:nth-child(3) {
    border-right: 1px solid transparent;
  }
  
  header #main-menu .item a {
    display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0px ;
    text-align: center;
    text-decoration: none;
  }

  header #main-menu .item a:hover {
    cursor: pointer;
    background-color: red;
  }
  
  header #main-menu .item p {
    display: inline-block;
    padding: 0px;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    height: 19px;
    color: #fff;
  }

  header #main-menu .item .sp {
    display: none;
  }

  header #main-menu .item .else {
    display: inline-block;
    text-align: center;
  }

  header #main-menu .item a .down1.on {
    display: none;
  } 
  header #main-menu .item a .up1.on {
    display: none;
  } 
  header #main-menu .item a .down2.on {
    display: none;
  } 
  header #main-menu .item a .up2.on {
    display: none;
  } 
  header #main-menu .item a .down3.on {
    display: none;
  } 
  header #main-menu .item a .up3.on {
    display: none;
  } 
  
  header #main-menu #rainyuin2 {
    position: static;
    opacity: 0;
    pointer-events: none;
  }
  
  header #main-menu #rainyuin2.show {
    position: absolute;
    top: ;
    display:flex;
    width: 100%;
    height: auto;
    background-color: rgb(251, 237, 234);
    pointer-events: auto;
    opacity: 1;
    /* background: #fff; */
    background-color: yellow;
  }
  header #main-menu #keiougijuku-ni2 {
    position: static;
    opacity: 0;
    pointer-events: none;
  }
  
  header #main-menu #keiougijuku-ni2.show {
    position: static;
    display:flex;
    width: 100%;
    height: auto;
    background-color: rgb(251, 237, 234);
    pointer-events: auto;
    opacity: 1;
    /* background: #fff; */
    background-color: yellow;
  }
  header #main-menu #iryoukankei2 {
    position: static;
    opacity: 0;
    pointer-events: none;
  }
  
  header #main-menu #iryoukankei2.show {
    position: static;
    display:flex;
    width: 100%;
    height: auto;
    background-color: rgb(251, 237, 234);
    pointer-events: auto;
    opacity: 1;
    /* background: #fff; */
    background-color: yellow;
  }

  header #main-menu .menu-content .part {
    display: block;
    width: 33%;
    /* width: 33%; */
    height: auto;
    background-color: pink;
  }

  header #main-menu #rainyuin2 .center {
    display: block;
    width: 33%;
    background-color: skyblue;
  }

  header #main-menu .menu-content h3 {
    padding-left: 30px;
    display: inline-block;
    height: 50px;
    font-size: 23px;
    font-weight: 200;
    line-height: 50px;
  }

  header #main-menu .menu-content ul a:hover {
    text-decoration: none;
  }

  header #main-menu .menu-content ul li {
    list-style: none;
    padding-left: 30px;
    margin-top: 5px;
    line-height: 45px;
    width: 100%;
    height: 45px;
    border: 1px solid transparent;
    position: relative;
  }

  header #main-menu .menu-content ul li .fas {
    position: absolute;
    top: 15px;
    left: 17px;
    color: #999;
    /* display: none; */
  }

  header #main-menu .menu-content .top {
    /* padding-left: 30px;
    line-height: 45px;
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
    position: relative; */
    display: none;
  }

  /* header #main-menu .menu-content .top a:hover {
    text-decoration: none;
  } */

  header #main-menu .menu-content .top img {
    /* position: absolute;
    top: 20px;
    right: 50px;
    color: #999;
    display: inline-block;
    width: 20px; */
    display: none;
  }


  .main-pic {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .main-pic .swiper-container {
    width: min(1250px, 100%);
    height: auto;
    margin: 0 auto;
    display: flex;
  }
  
  .main-pic .swiper-wrapper {
    background-color: #fff;
  }
  
  .main-pic .swiper-slide {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fff;
  } 

  .main-pic .swiper-slide .sp {
    display: none;
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  
  .main-pic .swiper-slide .pc {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* .main-pic .swiper-button-prev, .swiper-button-next {
    width: 26px;
    height: 26px;
    font-size: 12px;
    color: #fff;
    background-color: #ccc;
    border-radius: 13px;
  }
  
  .main-pic .swiper-button-prev {
    position: absolute;
    left: 0px;
  }
  
  .main-pic .swiper-button-prev::after {
    display: none;
  } 
  
  .main-pic .swiper-button-next {
    position: absolute;
    right: 0px;
  }
  
  .main-pic .swiper-button-next::after {
    display: none;
  }  */


  .sec1 {
    width: 100%;
    height: 130px;
  }
  
  .sec1 .container {
    display: flex;
  }
  
  .sec1 .pink {
    display: block;
    width: 167px;
    height: 130px;
    background-color: #E17D7D;
  }

  .sec1 .pink > h2 > span {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
  }
  
  .sec1 .pink > h2 {
    font-size: 14px;
    font-weight: 700;
    font-weight: 400;
    height: 130px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }

  .sec1 .pink > h2::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
    top:30px;
    left: 14px;
  }

  .sec1 > ul {
    width: calc(100% - 167px);
    height: 130px;
    background-color:#E8E8E8;
  }

  .sec1 li {
    margin: 10px 10px 20px;
    display: flex;
    padding-left: 10px;
  }
  
  .sec1 li dt span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  
  .sec1 li dd a {
    padding-left: 20px;
    display: block;
    height: 24px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    color: #245dc1;
    font-size: 14px;
  }
  
  .sec1 li dd a:hover {
    text-decoration: none;
  }


  .sec2 {
    width: 100%;
    background-color: #fff;
  }
  
  .sec2 ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .sec2 ul li {
    display: block;
    width: calc((100% - 0px) / 4); 
    height: 177px;
    list-style: none;
    margin-bottom: 0px;
  }
  
  .sec2 ul li a {
    display: block;
    margin: 0px;
    text-decoration: none;
  }
  
  .sec2 ul li div {
    padding: 20px 0px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .sec2 ul li div p {
    font-size: 21px;
    color: #000;
  }
  
  .sec2 ul li div img {
    width: 160px;
  }
  

  .sec3 {
    width: 100%;
    background-color: #fff;
  }
  
  .sec3 ul {
    width: 100%;
    margin: 0px;
    display: flex;
  }
  
  .sec3 ul li {
    list-style: none;
    width: 33%;
    height: 72px;
  }
  
  .sec3 ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    padding-left: 40px;
    width: 95%;
    height: 70px;
    line-height: 70px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #F7F8F8;
  }
  
  
  
  .sec4 {
    display: block;
    padding-top: 56px;
    width: 100%;
    height: auto;
    padding-bottom: 22px;
    background-color: #F0EDE5;
  }

  .sec4 .tabBar {
    position: relative;
  }

  .sec4 dl {
    width: 100%;
    margin: 0px;
    /* margin: 20px 14px 20px 12px; */
    /* padding-bottom: 42px; */
  }

  .sec4 dl .tab .current {
    display: block;
    padding: 0px;
    width: 33%;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    color: #333333;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 10px;
    border-right:1px solid #bbb ;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
  }

  .sec4 dl .tab .cur1 {
    display: block;
    background-color: transparent;
  }
  
  .sec4 dl .tab .cur2 {
    display: block;
    position: absolute;
    top: 0;
    left: 33%;
    background-color: transparent;
  }
  
  .sec4 dl .tab .cur3 {
    display: block;
    position: absolute;
    top: 0;
    left: 66%;
    background-color: transparent;
  }

  .sec4 dl .tab .current:hover {
    cursor: pointer;
  }
 
  .sec4 dl .tab .current.on {
    border-top: 3px solid rgb(2, 2, 71);
    background-color: #fff;
  }
 
  .sec4 dl .tab .content {
    padding-top: 30px;
    padding-bottom: 42px;
    background-color: #fff;
    display: none;
  } 

  .sec4 dl .tab .content.on {
    display: block;
  }
  
  .sec4 dl .tab .con1.on {
    display: block;
  }
  /* .sec4 dl .tab .con1.appear {
    display: block;
  } */
  
  .sec4 dl .tab .con2.on {
    display: block;
  }
  /* .sec4 dl .tab .con2.appear {
    display: block;
  } */
  
  .sec4 dl .tab .con3.on {
    display: block;
  }
  /* .sec4 dl .tab .con3.appear {
    display: block;
  } */
  
  .sec4 dl dd ul li {
    padding: 0 0 10px 10px;
    display: flex;
  }

  .sec4 dl dd ul li .block1 {
    display: block;
    width: 200px;
  }
  
  .sec4 dl dd ul li .block2 {
    display: block;
    width: calc(100% - 200px);
  }
  
  .sec4 dl dd ul {
    list-style: none;
  }
  
  .sec4 dl dd .block {
    margin-left: 0px;
  }
  
  .sec4 dl dd .block .date {
    font-size: 14px;
  }
  
  .sec4 dl dd .block .info {
    display: inline-block;
    margin-left: 10px;
    width: 60px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    background-color: #E17D7D;
  }
  
  .sec4 dl dd .block .event {
    display: inline-block;
    margin-left: 10px;
    width: 60px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    background-color: #7683D2;
  }
  
  .sec4 dl dd .content {
    margin: 6px 0 16px 0;
    font-size: 15px;
    line-height: normal;
    color: #245dc1;
  }
  
  .sec4 dl dd .linkBa {
    font-size: 15px;
    text-align: end;
  }
  
  .sec4 dl dd .linkBa a::before {
    content: "@";
  }
  


  .sec5 {
    width: 100%;
    height: auto;
    background-color: #F0EDE5;
  }

  .sec5 ul {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .sec5 ul li div::before {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: darkblue;
  } 

  .sec5 ul li {
    display: block;
    margin-bottom: 15px;
    margin-left: 10px;
    /* margin-left: 12px; */
    margin-right: 0px;
    list-style: none;
    width: 32%; 
    height: auto;
  }

  .sec5 ul li a {
    text-decoration: none;
  }

  /* .sec5 ul li a div {
    width: 100%;
    height: auto;
    border-top: 2px solid darkblue;
    border: 1px solid #bbb;
    text-align: start;
    background-color: #fff;
  } */

  /* .sec5 ul li div > img {
    width: 100%;
  } */
  /*   
  .sec5 ul li div span {
    display: block;
    padding: 0px 15px;
    line-height: 30px;
    font-size: 10px;
  } */

  .sec5 .container ul li:nth-child(9) {
    display: none;
    /* opacity: 0; */
  } 

  
  .sec6 {
    width: 100%;
    height: auto;
    /* height: 755px; */
  }

  .sec6 .container1 {
    width: 480px;
    height: 440px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #F7F8F8;
    position: relative;
  }

  .sec6 .container1 .inner {
    width: 100%;
    height: auto;
    display: flex;
  }
  
  .sec6 .container1 .inner1 {
    border-bottom: 1px solid #ccc;
  }
  .sec6 .container1 .inner2 {
    border-bottom: 1px solid #ccc;
  }
  .sec6 .container1 .inner3 {
    border-bottom: 1px solid #ccc;
  }
  
  .sec6 .container1 .inner .theme {
    display: block;
    width: 240px;
    padding: 0px 10px;
  }

  .sec6 .container1 .inner .detail {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #F7F8F8;
  }

  .sec6 .inner .theme h3 {
    display: block;
    margin-top: 6px;
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    height: 40px;
  }

  .sec6 .inner .theme img {
    display: inline-block;
    width: 24px;
    vertical-align: middle;
  }

  .sec6 .inner p {
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .sec6 .inner::after {
    content: '';
    display: none;
    /* display: block; */
    width: 100%;
    height: 14px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
  }

  .sec6 .container2 {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    /* background-color: rgb(229, 214, 243); */
  }
  
  .sec6 .map {
    display: block;
    width: 480px;
    margin: 0 auto;
    position: relative;
  }

  .sec6 .map img {
    display: block;
    width: 480px;
    height: auto;
    /* margin-left: 100px; */
  }

  .sec6 .raiin {
    /* height: 55px;
    width: 96%;
    margin: 10px auto; */
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 55px;
  }

  .sec6 .raiin:hover {
    cursor: pointer;
    opacity: .7;
  }

  .sec6 .yoyaku {
    width: 215px;
    height: 50px;
    background-color: #031763;
    position: absolute;
    top: -95px;
    left: 20px;
  }
  
  /* .sec6 .a1 {
    position: absolute;
    top: 18px;
    left: 20px;
    background-color: transparent;
  } */
  
  .sec6 .henkou {
    width: 215px;
    height: 50px;
    background-color: #031763;
    position: absolute;
    top: -95px;
    right: 20px;
    /* position: relative; */
  }
  
  /* .sec6 .a2 {
    position: absolute;
    top: 18px;
    left: 20px;
    background-color: transparent;
  } */

  .sec6 .access {
    /* display: inline-block; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    font-weight: 700;
    top: 75px;
    left: 55px;
    background-color: #555555;
  }
  
  .sec6 .access > p {
    padding: 40px 10px;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* .sec6 .a3 {
    position: absolute;
    top: 12px;
    left: 40px;
    background-color: transparent;
  } */
  
  .sec6 .floor {
    display: block;
    width: 184px;
    height: 52px;
    font-weight: 700;
    position: absolute;
    top: 63px;
    left: 218px;
    background-color: #ff9f1a;
  }
  
  /* .sec6 .a4 {
    position: absolute;
    top: 18px;
    left: 20px;
    background-color: transparent;
  } */
  
  .sec6 .shisetsu {
    display: block;
    width: 184px;
    height: 52px;
    font-weight: 700;
    position: absolute;
    top: 135px;
    left: 218px;
    background-color: #ff9f1a;
  }
/*   
  .sec6 .a5 {
    position: absolute;
    top: 18px;
    left: 20px;
    background-color: transparent;
  }
   */

/*   
.sec7 {
  padding-top: 25px;
  width: 100%;
  height: 145px;
  background-color: #F0EDE5;
}

.sec7 .container {
  height: 100px;
  width: 100%;
  padding-top: 15px;
  background-color: #fff;
  position: relative;
} */

.sec7 .container .swiper-container {
  display: block;
  width: 648px;
  margin:  8px auto;
  height: 57px;
  overflow: hidden;
}
/* 
.sec7 .swiper-button-prev, .swiper-button-next {
  width: 26px;
  height: 26px;
  font-size: 12px;
  color: #fff;
  background-color: #ccc;
  border-radius: 13px;
}

.sec7 .swiper-button-prev {
  position: absolute;
  left: 20px;
}

.sec7 .swiper-button-prev::after {
  display: none;
} 

.sec7 .swiper-button-next {
  position: absolute;
  right: 20px;
}

.sec7 .swiper-button-next::after {
  display: none;
}  */


footer {
  width: 100%;
  height: 42px;
  background-color:#000055;
  padding-top: 18px;
  position: relative;
}

footer .container {
  display: flex;
  position: absolute;
  top: 18px;
  left: 0;
}

footer .container > div {
  border-right: 1px solid #fff;
}

footer .container > div a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin: 11px ;
}

footer .container > div a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer .copy {
  position: absolute;
  bottom: 13px;
  right: 0;
  /* padding-top: 20px;
  text-align: end;
  padding-right: 10px; */
}

footer .copy span {
  font-size: 11px;
  color: #fff;
}
  

  
}

@media screen and (min-width: 1001px) {
  h1 {
    color: blue;
  }


  header #headerContent {
    display: block;
    width: 990px;
    height: 112px;
    margin: 0 auto;
  }

  header #headerContent > p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  header #headerContent p img {
    /* margin-top: 25px; */
    width: 320px;
    height: auto;
  }


  header #headerContent #menu-open {
    /* position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer; */
    display: none;
  }
  
  header #mobile-menu {
    margin-bottom: 10px;
    display: none;
  }
  
  header #headerContent #pc-menu {
    display: block;
  }

  header #pc-menu #pc-items {
    margin-left: 5px;
    display: flex;
  }
  
  header #pc-menu #pc-items li {
    margin-top: 15px;
    display: block;
    width: auto;
    height: 11px;
    line-height: 1;
    list-style: none;
    padding-left: 0px;
    /* border-right: 1px solid #ccc; */
  }
  
  header #pc-menu #pc-items li a {
    /* margin-top: 15px; */
    display: block;
    width: auto;
    height: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 0 10px;
    color: #555;
    text-align: center;
    /* border: 1px solid #ccc; */
    border-right: 1px solid #ccc;
    /* background-color: #f5b8d1; */
  }
  
  header #pc-menu #pc-items li a p {
    padding-top: 0;
    line-height: 1;
    font-size: 13px;
    font-weight: 200;
  }

  header #pc-menu #pc-choose {
    margin-top: 5px;
    display: block;
    height: 71px;
    width: 100%;
    background-color: transparent;
    position: relative;
  }
  
  header #pc-menu #pc-choose #pc-SearchText {
    position: absolute;
    top: 20px;
    left: 10px;
    margin: 2px;
    padding: 5px;
    height: 30px;
    width: 230px;
    font-size: 14px;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 3px;
    background-color: #fff;
  }
  
  header #pc-menu #pc-choose #pc-search {
    position: absolute;
    top: 37px;
    left: 225px;
  }
  
  header #pc-menu #pc-choose ul li {
    display: none;
  }
  
  
  header #help {
    margin-top: 5px;
    display: flex;
    position: absolute;
    top: 50px;
    right: 12px;
  }

  header #help div {
    display: flex;
    font-size: 11px;
  }
  
  header #help .help1 {
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 11px;
    padding: 2px 5px;
    width: 45px;
    height: 40px;
    line-height: 1.4;
    box-sizing: border-box;
    border: 1px solid transparent;
  }
  
  header #help .big {
    margin-right: 4px;
    display: inline-block;
    font-size: 13px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 2px;
  }

  header #help .big:hover {
    text-decoration: underline;
  }
  
  header #help .normal {
    margin: 0 4px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 2px;
  }
  
  header #help .normal:hover {
    text-decoration: underline;
  }
  
  header #help .help2 {
    margin: 0px 2px 0px 12px;
    font-size: 11px;
    width: 48px;
    height: 40px;
    line-height: 38px;
    box-sizing: border-box;
    border: 1px solid transparent;
  }
  
  header #help .black {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    width: 38px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 2px;
  }
  
  header #help .black:hover {
    text-decoration: underline;
  }


  header #main-menu {
    height: 52px;
    width: 100%;
    background-color: rgb(4, 4, 86);
  }
  
  header #main-menu .items {
    margin: 0 auto;
    list-style: none;
    width: 990px;
    height: 52px;
    display: flex;
  }
  
  header #main-menu .item {
    margin-top: 0px;
    padding: 0px;
    display: block;
    width: 33%;
    height: 52px;
    color: #fff;
    border: 1px solid transparent;
    border-right: 1px solid rgb(115, 115, 117);
  }

  header #main-menu .item:first-child {
    border-left: 1px solid rgb(115, 115, 117);
  }
  
  header #main-menu .item:nth-child(3) {
    border-right: 1px solid rgb(115, 115, 117);
  } 
  
  header #main-menu .item a {
    display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0px ;
    text-align: center;
    text-decoration: none;
  }

  header #main-menu .item a:hover {
    cursor: pointer;
    background-color: red;
  }
  
  header #main-menu .item p {
    display: inline-block;
    padding: 0px;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    height: 19px;
    color: #fff;
  }

  header #main-menu .item .sp {
    display: none;
  }

  header #main-menu .item .else {
    display: inline-block;
    text-align: center;
  }

  header #main-menu .item p .fas {
    display: none;
  }
  


  .sec1 {
    width: 100%;
    height: 130px;
    background-color: #E8E8E8;
  }
  
  .sec1 .container {
    width: 990px;
    margin: 0 auto;
    display: flex;
  }
/*   
  .sec1 .pink {
    display: block;
    width: 167px;
    height: 130px;
    background-color: #E17D7D;
  }

  .sec1 .pink > h2 > span {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
  }
  
  .sec1 .pink > h2 {
    font-size: 14px;
    font-weight: 700;
    font-weight: 400;
    height: 130px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }

  .sec1 .pink > h2::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
    top:30px;
    left: 14px;
  }

  .sec1 .cotainer ul {
    width: calc(100% - 167px);
    height: 130px;
    background-color:#E8E8E8;
  }

  .sec1 .cotainer li {
    margin: 10px 10px 20px;
    display: flex;
    padding-left: 10px;
  }
  
  .sec1 .cotainer li dt span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  
  .sec1 .cotainer li dd a {
    padding-left: 20px;
    display: block;
    height: 24px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    color: #245dc1;
    font-size: 14px;
  }
  
  .sec1 .cotainer li dd a:hover {
    text-decoration: none;
  } */


  .sec2 {
    width: 100%;
    background-color: #fff;
  }

  .sec2 .container {
    width: 990px;
    margin: 0 auto;
  }
/*   
  .sec2 ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .sec2 ul li {
    display: block;
    width: calc((100% - 0px) / 4); 
    height: 177px;
    list-style: none;
    margin-bottom: 0px;
  }
  
  .sec2 ul li a {
    display: block;
    margin: 0px;
    text-decoration: none;
  }
  
  .sec2 ul li div {
    padding: 20px 0px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .sec2 ul li div p {
    font-size: 21px;
    color: #000;
  }
  
  .sec2 ul li div img {
    width: 160px;
  }
   */


   .sec3 {
    width: 100%;
    background-color: #fff;
  }

  .sec3 .container {
    width: 990px;
    margin: 0 auto;
  }
  
  .sec3 ul {
    width: 98%;
    margin: 0px 0px 0px 0px;
  }
  
  .sec3 ul li {
    list-style: none;
  }
  
  .sec3 ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    padding-left: 40px;
    width: 95%;
    height: 70px;
    line-height: 70px;
    text-align: left;
    border: 1px solid #ccc; 
    border-right: 1px solid transparent; 
    background-color: #fff;
  }
  
  /* .sec3 ul li a:first-child {
    border-left: 1px solid #fff;
  } */



  .sec4 {
    display: block;
    padding-top: 56px;
    width: 100%;
    height: auto;
    padding-bottom: 22px;
    background-color: #F0EDE5;
    position: relative;
  }

  .sec4 .tabBar {
    width: 990px;
    margin: 0 auto;
    position: relative;
  }

  .sec4 dl {
    width: 100%;
    margin: 0px;
    /* margin: 20px 14px 20px 12px; */
    /* padding-bottom: 42px; */
  }

  .sec4 dl .tab .current {
    display: block;
    padding: 0px;
    width: 33%;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    color: #333333;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 10px;
    border-right:1px solid #bbb ;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
  }

  .sec4 dl .tab .cur1 {
    display: block;
    background-color: transparent;
  }
  
  .sec4 dl .tab .cur2 {
    display: block;
    position: absolute;
    top: 0;
    left: 33%;
    background-color: transparent;
  }
  
  .sec4 dl .tab .cur3 {
    display: block;
    position: absolute;
    top: 0;
    left: 66%;
    background-color: transparent;
  }

  .sec4 dl .tab .current:hover {
    cursor: pointer;
  }
 
  .sec4 dl .tab .current.on {
    border-top: 3px solid rgb(2, 2, 71);
    background-color: #fff;
  }
 
  .sec4 dl .tab .content {
    padding-top: 30px;
    padding-bottom: 42px;
    background-color: #fff;
    display: none;
  } 

  .sec4 dl .tab .content.on {
    display: block;
  }
  
  .sec4 dl .tab .con1.on {
    display: block;
  }
  /* .sec4 dl .tab .con1.appear {
    display: block;
  } */
  
  .sec4 dl .tab .con2.on {
    display: block;
  }
  /* .sec4 dl .tab .con2.appear {
    display: block;
  } */
  
  .sec4 dl .tab .con3.on {
    display: block;
  }
  /* .sec4 dl .tab .con3.appear {
    display: block;
  } */
  
  .sec4 dl dd ul li {
    padding: 0 0 10px 10px;
    display: flex;
  }

  .sec4 dl dd ul li .block1 {
    display: block;
    width: 200px;
  }
  
  .sec4 dl dd ul li .block2 {
    display: block;
    width: calc(100% - 200px);
  }
  
  .sec4 dl dd ul {
    list-style: none;
  }
  
  .sec4 dl dd .block {
    margin-left: 0px;
  }
  
  .sec4 dl dd .block .date {
    font-size: 14px;
  }
  
  .sec4 dl dd .block .info {
    display: inline-block;
    margin-left: 10px;
    width: 60px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    background-color: #E17D7D;
  }
  
  .sec4 dl dd .block .event {
    display: inline-block;
    margin-left: 10px;
    width: 60px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    background-color: #7683D2;
  }
  
  .sec4 dl dd .content {
    margin: 6px 0 16px 0;
    font-size: 15px;
    line-height: normal;
    color: #245dc1;
  }
  
  .sec4 dl dd .linkBa {
    font-size: 15px;
    text-align: end;
    padding-right: 20px;
  }
  
  .sec4 dl dd .linkBa a::before {
    content: "@";
  }

  .sec4 .container {
    position: absolute;
    top: 108px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #fff;
    z-index: -1;
  }


  .sec5 {
    width: 100%;
    height: auto;
    background-color: #F0EDE5;
  }

  .sec5 .container {
    width: 990px;
    margin: 0 auto;
  }

  .sec5 ul {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  /* .sec5 ul li div::before {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: darkblue;
  } */

  .sec5 ul li {
    display: block;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 15px;
    list-style: none;
    width: 31%; 
    /* width: calc(46%);  */
    height: auto;
  }

  .sec5 ul li a {
    text-decoration: none;
  }

  /* .sec5 ul li a div {
    width: 100%;
    height: auto;
    border-top: 2px solid darkblue;
    border: 1px solid #bbb;
    text-align: start;
    background-color: #fff;
  } */

  /* .sec5 ul li div > img {
    width: 100%;
  } */
  /*   
  .sec5 ul li div span {
    display: block;
    padding: 0px 15px;
    line-height: 30px;
    font-size: 10px;
  } */

  .sec5 > ul li:nth-child(9) {
    display: none;
    /* opacity: 0; */
  } 




  /* ここから */
/* 
  .sec6 {
    width: 100%;
    height: auto;
  }

  .sec6 .container1 {
    width: 480px;
    height: 440px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #F7F8F8;
    position: relative;
  }

  .sec6 .container1 .inner {
    width: 100%;
    height: auto;
    display: flex;
  }
  
  .sec6 .container1 .inner1 {
    border-bottom: 1px solid #ccc;
  }
  .sec6 .container1 .inner2 {
    border-bottom: 1px solid #ccc;
  }
  .sec6 .container1 .inner3 {
    border-bottom: 1px solid #ccc;
  }
  
  .sec6 .container1 .inner .theme {
    display: block;
    width: 240px;
    padding: 0px 10px;
  }

  .sec6 .container1 .inner .detail {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #F7F8F8;
  }

  .sec6 .inner .theme h3 {
    display: block;
    margin-top: 6px;
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    height: 40px;
  }

  .sec6 .inner .theme img {
    display: inline-block;
    width: 24px;
    vertical-align: middle;
  }

  .sec6 .inner p {
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .sec6 .inner::after {
    content: '';
    display: none;
    width: 100%;
    height: 14px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
  }

  .sec6 .container2 {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .sec6 .map {
    display: block;
    width: 480px;
    margin: 0 auto;
    position: relative;
  }

  .sec6 .map img {
    display: block;
    width: 480px;
    height: auto;
  }

  .sec6 .raiin {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 55px;
  }

  .sec6 .raiin:hover {
    cursor: pointer;
    opacity: .7;
  }

  /* ここまで */

  .sec6 {
    height: auto;
  }

  .sec6 .container {
    width: 990px;
    margin: 20px auto;
    display: flex;
    border: 1px solid transparent;
    background-color: #fff;
  }
  
  .sec6 .container1 {
    width: 490px;
    height: 440px;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #F7F8F8;
  }

  .sec6 .container1 .inner {
    width: 100%;
    height: auto;
    display: flex;
    /* background-color: yellowgreen; */
  }
  
  .sec6 .container1 .inner1 {
    border-bottom: 1px solid #ccc;
  }
  .sec6 .container1 .inner2 {
    border-bottom: 1px solid #ccc;
  }
  .sec6 .container1 .inner3 {
    border-bottom: 1px solid #ccc;
  }
  
  .sec6 .container1 .inner .theme {
    display: block;
    width: 185px;
    box-sizing: border-box;
    padding: 0px 25px;
    /* background-color: yellow; */
  }

  .sec6 .container1 .inner .detail {
    display: block;
    width: calc(100% - 185px);
    padding: 12px;
    background-color: #F7F8F8;
  }
  
  .sec6 .inner h3 {
    margin-top: 6px;
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
  }
  
  .sec6 .inner p {
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    line-height: 1.8;
  }
  
  /* .sec6 .inner::after {
    content: '';
    display: block;
    width: 100%;
    height: 14px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
  }
  
  .sec6 .inner:last-child::after {
    opacity: 0;
  }
   */
   .sec6 .container2 {
     display: block;
     width: calc(100% - 490px);
     height: 440px;
     position: relative;
   }

  .sec6 .container2 .raiin {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 55px;
  }
  
  .sec6 .container2 .raiin:hover {
    cursor: pointer;
    opacity: .7;
  }
  
  .sec6 .container2 .yoyaku {
    background-color: #031763;
    position: relative;
  }
  
  .sec6 .container2 .a1 {
    position: absolute;
    top: 18px;
    left: 20px;
    background-color: transparent;
  }
  
  .sec6 .container2 .henkou {
    background-color: #031763;
    position: relative;
  }
  
  .sec6 .container2 .a2 {
    position: absolute;
    top: 18px;
    left: 20px;
    background-color: transparent;
  }
  
  .sec6 .container2 .map img {
    display: block;
    width: 477px;
    margin-left: 5px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .sec6 .container2 .access {
    font-weight: 700;
    background-color: #333333;
    position: relative;
  }
  
  .sec6 .container2 .a3 {
    position: absolute;
    top: 11px;
    left: 38px;
    background-color: transparent;
  }
  
  .sec6 .container2 .floor {
    font-weight: 700;
    background-color: #ff9f1a;
    position: relative;
  }
  
  .sec6 .container2 .a4 {
    position: absolute;
    top: 18px;
    left: 20px;
    background-color: transparent;
  }
  
  .sec6 .container2 .shisetsu {
    font-weight: 700;
    background-color: #ff9f1a;
    position: relative;
  }
  
  .sec6 .container2 .a5 {
    position: absolute;
    top: 18px;
    left: 20px;
    background-color: transparent;
  }

  
  .sec6 .yoyaku {
    width: 215px;
    height: 50px;
    background-color: #031763;
    position: absolute;
    top: 375px;
    left: -610px;
  }
  
  .sec6 .henkou {
    width: 215px;
    height: 50px;
    background-color: #031763;
    position: absolute;
    top: 315px;
    left: -382px;
  }

  .sec6 .access {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    font-weight: 700;
    top: -35px;
    left: -130px;
    background-color: #555555;
  }
  
  .sec6 .access > p {
    padding: 40px 10px;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 25;
  }
  
  .sec6 .floor {
    display: block;
    width: 184px;
    height: 52px;
    font-weight: 700;
    position: absolute;
    top: -158px;
    left: 70px;
    background-color: #ff9f1a;
  }
  
  .sec6 .shisetsu {
    display: block;
    width: 184px;
    height: 52px;
    font-weight: 700;
    position: absolute;
    top: -150px;
    left: 70px;
    background-color: #ff9f1a;
  } */
  
  .sec6 .container2 {
    padding-bottom: 10px;
  }

  
  
.sec7 {
  padding-top: 25px;
  width: 100%;
  height: 130px;
  background-color: #F0EDE5;
}

.sec7 .container {
  height: 90px;
  width: 990px;
  margin: 0 auto;
  /* width: 100%; */
  padding-top: 15px;
  background-color: #F7F8F8;
  position: relative;
} 

.sec7 .container .swiper-container {
  display: block;
  width: 648px;
  margin:  8px auto;
  height: 57px;
  overflow: hidden;
}
/* 
.sec7 .swiper-button-prev, .swiper-button-next {
  width: 26px;
  height: 26px;
  font-size: 12px;
  color: #fff;
  background-color: #ccc;
  border-radius: 13px;
}

.sec7 .swiper-button-prev {
  position: absolute;
  left: 20px;
}

.sec7 .swiper-button-prev::after {
  display: none;
} 

.sec7 .swiper-button-next {
  position: absolute;
  right: 20px;
}

.sec7 .swiper-button-next::after {
  display: none;
}  */


  
  
footer {
  width: 100%;
  height: 45px;
  background-color:#000055;
  padding-top: 18px;
  position: relative;
}

footer .outer {
  width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer .container {
  display: flex;
  position: static;
  margin-top: 5px;
}

footer .container > div {
  width: auto;
  height: 12px;
  border-right: 1px solid #fff;
}

footer .container > div a {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin: 11px ;
}

footer .container > div a:hover {
  cursor: pointer;
  text-decoration: none;
}

footer .copy {
  position: static;
  margin-top: 5px;
} 

footer .copy span {
  font-size: 11px;
  color: #fff;
}
  


}
